[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Devendhar
[access "refs/for/refs/*"]
	read = group user/Devendhar
	push = group user/Devendhar
	label-Code-Review = -2..+2 group user/Devendhar
	label-Verified = -1..+1 group user/Devendhar
	rebase = group user/Devendhar
	removeReviewer = group user/Devendhar
	submit = group user/Devendhar
[access "refs/heads/*"]
	read = group user/Devendhar
	create = group user/Devendhar
	push = +force group user/Devendhar
	pushMerge = group user/Devendhar
[access "refs/tags/*"]
	push = group user/Devendhar
	push = +force group user/Devendhar
